.coding-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.coding-question {
  display: flex;
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
}

.question-description {
  max-width: 500px;
  height: 100%;
  min-height: 490px;
  margin-right: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  overflow: auto;
}

.code-content {
  flex: 1;
  box-sizing: border-box;
}
