/* CodingQuestion.css */
.coding-question {
  display: flex;
  width: 100vw;
}

.question-description {
  width: 30%;
  margin-right: 30px;
}

.code-editor {
  width: 60%;
}

.actions {
  margin-top: 20px;
}

.button + .button {
  margin-left: 10px;
}

.result-actions {
  margin-top: 20px;
}
