.container {
  min-height: 100vh; /* 使 body 高度为视口高度 */
  width: 100vw;
  margin: 0 auto; /* 去掉默认的 margin */
  padding: 20px;
  background-color: #f0f0f0; /* 设置背景色 */
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.center {
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
}

.mb-2 {
  margin-bottom: 2rem;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.button:hover {
  background-color: #0056b3;
}