.container {
  min-height: 100vh; /* 使 body 高度为视口高度 */
  width: 100vw;
  margin: 0 auto; /* 去掉默认的 margin */
  padding: 20px;
  background-color: #f0f0f0; /* 设置背景色 */
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.center {
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
}

.flex-center {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
}

.mb-2 {
  margin-bottom: 2rem;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.button:hover {
  background-color: #0056b3;
}

.top-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background: #f5f5f5;
  border-top: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  z-index: 300;
}

.bottom-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background: #f5f5f5;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 300;
}

.bottom-fixed button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.bottom-fixed button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

